
.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}



.hero {
    min-height: 789px;
    background-image: url("../../img/img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
