.Navbar {
  position: absolute;
  padding: 24px 0;
  left: 0;
  top: 0;
  width: 100%;
}

.Navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.Link {
  color: #fff;
}


a {
  font-size: 23px;
  text-decoration: none;
  color: #060709	;
}