@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



.App {
  background: -webkit-linear-gradient(225deg, rgb(82, 52, 201), rgb(62, 220, 171));
  background: -moz-linear-gradient(225deg, rgb(82, 52, 201), rgb(62, 220, 171));
  background: linear-gradient(225deg, rgb(82, 52, 201), rgb(62, 220, 171));
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #FDFDFD	;
}

.header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.header__content {

  margin-top: 0.5rem;
  display: flex;
}

.container {
  margin-left: 6%;
  margin-right: 6%;
}


